html{
	background-color: grey !important;
}

#home {
	padding-top: 30px;
}

#product {
	padding-top: 50px;
	font-size: 30px;
}

#ilość {
	padding-top: 10px;
}

#productResult {
	font-size: 20px;
}

#productResult2 {
	font-size: 20px;
}